version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: monio-api-db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
#    volumes:
#      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - monio-network
    restart: unless-stopped
  redis:
    image: redis:latest
    container_name: monio-api-redis
    hostname: ${REDIS_HOST}
    ports:
      - "${REDIS_PORT}:6379"
#    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - monio-network
    restart: unless-stopped

networks:
  monio-network:
    driver: bridge

volumes:
  redis_data:
    driver: local
  postgres_data:
    driver: local